body {
  background-color: yellowgreen;
  padding: 10vw;
  padding-top: 3%;
  padding-bottom: 3%;
  border-radius: 52%;
  }

.fondomenu 
    {
      background-color:red;
      width: 400px;
      
    } 

#menu ul li
    { 
      background-color: green; 
      padding-top: 15px;
    }    

#menu ul {
list-style:none;
margin:0;
padding:0;
}

#menu ul a {
display:block;
color:#fff;
text-decoration:none;
font-weight:400;
font-size:15px;
padding:10px;
font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
text-transform:uppercase;
letter-spacing:1px;
}

#menu ul li {
position:relative;
float:left;
margin:0;
padding:0;
}

#menu ul li:hover {
background:#7ab484;
}

#menu ul ul {
display:none;
position:absolute;
top:100%;
left:0;
padding:0;
}

#menu ul ul li {
float:none;
width:150px
}

#menu ul ul a {
line-height:150%;
padding:10px 15px;
}

#menu ul li:hover > ul {
display:block;
}

 


.titulo {
  text-align: center;
  padding-top: none;
  margin: 0;
  border: none;
  font-family: 'Bebas Neue', cursive;
  color: rgb(90, 89, 58);
  font-size: 50px;
}



 [type="radio"]
    {
      color: blue;
      margin: 5px;
    }

#resp{ 
        color:rgb(39, 119, 173);
          }

.foto1 {
  padding: 2px 2px 10px;
  width: 400px;
  border-color: rgb(182, 211, 18);
  border-width: 2px;
  border-style: outset;
  border-radius: 2%;
  margin: 5px;
  
}

  a[href="https://es.wikipedia.org/wiki/The_King_of_Fighters_%2799"]
    {
      color: green;
      text-decoration: none;
      font-weight: bold;
    }
  a[href="https://es.wikipedia.org/wiki/The_King_of_Fighters_2000"]
    {
      color: green;
      text-decoration: none;
      font-weight: bold; 
    }

  a[href="https://es.wikipedia.org/wiki/The_King_of_Fighters_2001"]
      {
        color: green;
        text-decoration: none;
        font-weight: bold;
      }
  a[href="https://www.facebook.com/IamErudito1/"]
      {
        color: green;
        text-decoration: none;
        font-weight: bold;
      }   
   

  a[href="#KOF99"]
      {
        color: rgb(199, 151, 20);
        text-decoration: none;
        font-weight: bold;
      }
  a[href="#KOF2000"]
      {
        color: rgb(199, 151, 20);
        text-decoration: none;
        font-weight: bold;
      }    
    a[href="#KOF2001"]
      {
        color: rgb(199, 151, 20);
        text-decoration: none;
        font-weight: bold;
      } 
 .parrafo1, .parrafo, .lista, .form 
   { 
     color: black;
     padding: 5px 10px;
     font-size: 14px;
     background-color: rgb(228, 230, 224);
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     width:  75vw ;
     text-align: justify;
     
   } 

      
   .titulo2 
     {
       color: green;
     }   


